@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
  color: #fff;
}

.font-nova {
    font-family: 'Orbitron', sans-serif;
  }